@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    margin: 0;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

/* BLOCKER */

.black-screen {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    z-index: 10000;
    display: block;
    cursor: pointer;
}

/* OVERLAY */

.red-overlay {
    transition: opacity 1s;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 10000;
    display: block;
}

.red-overlay.showRed {
    opacity: 0.1;
}

.gray-overlay {
    transition: opacity 1s;
    height: 100vh;
    width: 55vw;
    justify-self: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: block;
}

.gray-overlay.showGray {
    opacity: 0.1;
}

.black-overlay {
    transition: opacity 0.6s;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000;
    display: block;
}

.black-overlay.showBlack {
    opacity: 0.1;
}

.black-overlay.completeDarkness {
    opacity: 1;
    background-color: rgb(0, 0, 0);
}

.black-effect {
    transition: opacity 8s ease-in-out;
    background-image: url(./assets_images/dark_effect.png);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: block;
}

.black-effect.fade {
    opacity: 0.1;
}

.glitch-effect {
    background-image: url(./assets_images/static_transparent.png);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    display: block;
}

.inactive {
    display: none;
}

.activeVideo {
    position: fixed;
    transform: scale(1.23);
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    display: block;
    opacity: 0.5;
}

/* ===================================================================== */
/* text */

#homeScreenText {
    text-align: center;
    justify-self: center;
    align-content: center;
    font-size: 30px;
    z-index: 11111;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

@media (max-width: 1100px) {
    #homeScreenText {
        display: none;
        cursor: default;
    }    
}

p, h4 {
    font-family: Inconsolata, 'Courier New', Courier, monospace;
    font-size: 18px;
    color: aliceblue;
}

.highlight {
    z-index: 1;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-top: 1em;
    margin-left: 1.8em;
}

.center {
    text-align: center;
    justify-self: center;
    align-self: flex-end;
    font-size: 1.5em;
    margin: 3em 0;
    display: none;
}

#turnDialogue {
    margin-left: auto;
    margin-right: auto;
}

/* video */

video {
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.seenVideo {
    display: block;
    /* visibility: hidden; */
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.hiddenVideo {
    display: none;
}

/* boxes */

.grid-container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

.dialogueBox {
    width: 16.5em;
    height: 8em;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-top: 5em;
    margin-left: 1.8em;
}

#dialogue {
    margin: 1em;
}

.box {
    background-color: rgb(33, 18, 50);
    border: 2px solid rgb(80, 31, 143);
    z-index: 1;
}

.selectionBox {
    display: none;
    width: 16.5em;
    height: 12em;
    overflow-y: auto;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-top: 14em;
    margin-left: 1.8em;
}

.selectionBox p, .selectionBox h4 {
    margin-left: 1em;
}

.selectionBox h4 {
    display: block;
    position: sticky;
    top: 0;
    padding-top: 1.2em;
    background-color: rgb(33, 18, 50);
    box-sizing: border-box;
    margin: 0;
    margin-left: 1em;
    padding-bottom: 0.2em;
}

.HPbar {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 12em;
    height: 7em;
    justify-self: end;
    text-align: center;
}

.HPbar p {
    margin: 0.9em 0.5em 0;
}

#playerHPBox {
    margin-right: 2em;
    margin-top: 2em;
}

#enemyHPBox {
    margin-right: 2em;
    margin-top: 10em;
}

progress {
    width: 10em;
    padding-bottom: 2em;
}


#update-output {
    z-index: 1;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-left: 2em;
    align-self: end;
}

.selectionBox p:hover {
    cursor: pointer;
}

#skill-option, #skills {
    display: none;
}

.hidden-skill {
    display: none;
}

/* animation */

.horizontal-shake {
    animation: horizontal-shaking 0.35s infinite;
}

@keyframes horizontal-shaking {
    0% { transform: translate(0) }
    25% { transform: translate(5px, 2px) }
    50% { transform: translate(-5px, -2px) }
    75% { transform: translate(5px, 2px) }
    100% { transform: translate(0) }
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(33, 18, 50); 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(71, 32, 122); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(57, 23, 102); 
}